DATABASE_URL=YOUR DATABSE URL
APP_PORT=YOUR API PORT
APP_HOST=YOUR API HOST
DOC_PASSWORD=YOUR API DOCS PASSWORD
REDIS_HOST=YOUR REDIS HOST
REDIS_PORT=YOUR REDIS PORT
JWT_ACCESS_TOKEN_SECRET=YOUR JWT ACCESS TOKEN SECRET
JWT_ACCESS_TOKEN_EXPIRATION=YOUR JWT ACCESS TOKEN EXPIRATION
JWT_REFRESH_TOKEN_SECRET=YOUR JWT REFRESH TOKEN SECRET
JWT_REFRESH_TOKEN_EXPIRATION=YOUR JWT REFRESH TOKEN EXPIRATION
GOOGLE_CLIENT_ID=YOUR GOOGLE CLIENT ID
GOOGLE_CLIENT_SECRET=YOUR GOOGLE CLIENT SECRET
GOOGLE_CALLBACK_URL=YOUR GOOGLE CALLBACK URL