{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": [
    "^react$",
    "^next(.*)$",
    "^@nestjs(.*)$",
    "^express(.*)$",

    "<THIRD_PARTY_MODULES>",

    "^@/config/(.*)$",
    "^@/modules/(.*)$",
    "^@/common/(.*)$",
    "^@/shared/(.*)$",

    "^[./]"
  ],

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,

  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
